// banner css start
.hero-area {
  padding: 200px 0 175px;

  @include mobile-xs {
    padding: 190px 0 100px;
  }

  @include desktop-xl {
    padding: 190px 0 155px;
  }

  p {
    opacity: 0.70;
  }

  h1 {
    line-height: 68px;
    z-index: 1;

    @include mobile-xs {
      font-size: 50px;
    }
  }
}

.bg-slide{
    -webkit-transition:all 1s ease-in;
    -moz-transition:all 1s ease-in;
    -o-transition:all 1s ease-in;
    -ms-transition:all 1s ease-in;
    transition:all 1s ease-in;
}

.watermark {
  position: absolute;
  opacity: 0.07;
  top: 20px;
  left: 0;
  font-size: 100px;
  font-weight: 600;
  z-index: -1;
  color: inherit;

  @include mobile {
    top: 0;
    font-size: 60px;
  }
}

.btn-color-cp{
  background-color: #2a2a2a !important;
}

.watermark-sm {
  position: absolute;
  opacity: 0.07;
  top: -40px;
  left: 0;
  font-size: 110px;
  font-weight: 600;
  color: inherit;

  @include mobile {
    top: 0;
    font-size: 100px;
  }
}