<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-lg-4 mb-4 mb-md-0">
        <div class="position-relative" data-aos="fade-right">
          <img src="https://images.pexels.com/photos/6961112/pexels-photo-6961112.jpeg" class="img-fluid rounded-sm" alt="videoThumbBg">
          <div class="floating-video rounded-sm">
            <img src="https://images.pexels.com/photos/6961112/pexels-photo-6961112.jpeg" class="img-fluid rounded-sm" alt="video-thumb">
            <a class="venobox play-icon icon-center" data-autoplay="true" data-vbtype="video"
              href="https://youtu.be/F7UM4mm53pY">
              <i class="fa fa-play text-secondary bg-white rounded-circle"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-self-center pl-lg-4">
        <p class="subtitle" data-aos="fade-up">Subítitulo</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">Título contenido</h2>
        <p data-aos="fade-up" data-aos-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet sed leo in tincidunt. Maecenas dapibus felis non nunc dignissim placerat. Nullam vel elementum ex. Curabitur dolor nisi, consectetur tempus ante sed, hendrerit placerat quam. Sed in aliquet urna, a interdum orci. Morbi rutrum vel quam ut aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dolor vestibulum, commodo libero vel, ultricies lacus.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 font-weight-light text-dark"><span class="counter" data-count="100">0</span>+</p>
        <h6 class="text-dark font-weight-normal">Dato 1</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 font-weight-light text-dark"><span class="counter" data-count="500">0</span>+</p>
        <h6 class="text-dark font-weight-normal">Dato 2</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 font-weight-light text-dark"><span class="counter" data-count="5">0</span>+</p>
        <h6 class="text-dark font-weight-normal">Dato 3</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 font-weight-light text-dark"><span class="counter" data-count="1000">0</span>+</p>
        <h6 class="text-dark font-weight-normal">Dato 4</h6>
      </div>
    </div>
  </div>
</section>
