<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 align-self-center pl-lg-4 mb-3">
        <h3 class="section-title bg-light p-3" data-aos="fade-up" data-aos-delay="100">¿En qué consiste nuestro servicio?</h3>
        <p class="p-3" style="font-size: 16px;" data-aos="fade-up" data-aos-delay="200">Buscamos las mejores ofertas de suministro eléctrico para clientes libres, a
          través de un proceso ágil y transparente.</p>
      </div>
      <div class="col-md-12 align-self-center pl-lg-4">
        <h3 class="section-title bg-light p-3" data-aos="fade-up" data-aos-delay="100">¿Cómo funciona?</h3>
        <p class="px-3" style="font-size: 16px;" data-aos="fade-up" data-aos-delay="200">1. Analizamos tu solicitud de energía.</p>
        <p class="px-3" style="font-size: 16px;" data-aos="fade-up" data-aos-delay="200">2.  Negociamos tu energía con generadores y te ofrecemos en 48 horas
          ofertas libre de compromiso para tu selección.</p>
        <p class="px-3" style="font-size: 16px;" data-aos="fade-up" data-aos-delay="200">3. Te apoyamos con la contratación y puesta en marcha de la oferta que
          elijas.</p>
        <p class="px-3" style="font-size: 16px;" data-aos="fade-up" data-aos-delay="200">4. Comienzas a consumir la energía mas conveniente del mercado.</p>
      </div>
    </div>
  </div>
</section>
