

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="subtitle">Completa tus datos para ser contactado</p>
        <h2 class="section-title">Formulario de Contacto</h2>
      </div>
      <div class="col-lg-12 text-center p-0">
        <form action="URL" method="post" class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4 bg-light" placeholder="E-Mail">
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4 bg-light" placeholder="Nombre">
          </div>
          <div class="col-lg-12">
            <input type="text" class="form-control mb-4 bg-light" placeholder="Asunto">
          </div>
          <div class="col-lg-12">
            <textarea name="message" class="form-control mb-4 bg-light" placeholder="Mensaje"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>