

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">Ponte en contacto con <span class="font-weight-bold">CapitalPower</span></h2>
        <p class="subtitle mb-5">¡Sólo necesitamos algunos datos básicos para proponerte las mejores alternativas de energía!</p>
      </div>
      <div class="col-lg-12 text-center p-0">
        <form action="URL" method="post" class="row">
          <div class="col-lg-12">
            <input type="text" class="form-control mb-4 bg-light" placeholder="Empresa">
          </div>
          <div class="col-lg-12">
            <input type="text" class="form-control mb-4 bg-light" placeholder="RUT Empresa">
          </div>
          <div class="col-lg-12">
            <input type="text" class="form-control mb-4 bg-light" placeholder="Nombre contacto">
          </div>
          <div class="col-lg-12">
            <input type="text" class="form-control mb-4 bg-light" placeholder="Cargo">
          </div>
          <div class="col-lg-6">
            <input type="email" class="form-control mb-4 bg-light" placeholder="Correo contacto">
          </div>
          <div class="col-lg-6">
            <input type="tel" class="form-control mb-4 bg-light" placeholder="Teléfono contacto">
          </div>
          <div class="col-lg-12">
            <input type="number" class="form-control mb-4 bg-light" placeholder="N° de Cliente">
          </div>
          <div class="col-lg-12">
            <input type="tel" class="form-control mb-4 bg-light" placeholder="Teléfono contacto">
          </div>
          <div class="col-lg-12 text-left mb-5 mx-3">
              <label class="mb-4 mt-2" for="yes_no_radio">Certificación renovable:
              <p>
              <input class="bg-light mt-3 mr-1 " type="radio" name="yes_no">Si</input>
              </p>
              <p>
              <input class="bg-light mr-1" type="radio" name="yes_no">No</input>
              </p>
            </label>
          </div>
          
          <div class="col-lg-12">
            <h2 class="section-title">Estás a un click de comenzar a ahorrar.
            </h2>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>