

<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 mb-4 mb-md-0 text-center">
        <h2>Energía licitada para<br> nuestros clientes</h2>
      </div>
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 font-weight-light text-dark">+<span class="counter" data-count="6000">0</span></p>
        <h6 class="text-dark font-weight-normal">GWh</h6>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row my-5">
          <div class="col-sm-4 pr-lg-4 mb-4 mb-md-0">
            <div class="position-relative" data-aos="fade-right">
              <img src="../images/experiencia/experiencia-01.png" class="img-fluid rounded-sm" alt="videoThumbBg">
            </div>
          </div>
          <div class="col-sm-4 pr-lg-4 mb-4 mb-md-0">
            <div class="position-relative" data-aos="fade-right">
              <img src="../images/experiencia/experiencia-02.png" class="img-fluid rounded-sm" alt="videoThumbBg">
            </div>
          </div>
          <div class="col-sm-4 pr-lg-4 mb-4 mb-md-0">
            <div class="position-relative" data-aos="fade-right">
              <img src="../images/experiencia/experiencia-03.png" class="img-fluid rounded-sm" alt="videoThumbBg">
            </div>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-sm-4 pr-lg-4 mb-4 mb-md-0">
            <div class="position-relative" data-aos="fade-right">
              <img src="../images/experiencia/experiencia-04.png" class="img-fluid rounded-sm" alt="videoThumbBg">
            </div>
          </div>
          <div class="col-sm-4 pr-lg-4 mb-4 mb-md-0">
            <div class="position-relative" data-aos="fade-right">
              <img src="../images/experiencia/experiencia-05.png" class="img-fluid rounded-sm" alt="videoThumbBg">
            </div>
          </div>
          <div class="col-sm-4 pr-lg-4 mb-4 mb-md-0">
            <div class="position-relative" data-aos="fade-right">
              <img src="../images/experiencia/experiencia-06.png" class="img-fluid rounded-sm" alt="videoThumbBg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center mt-5">
          
          <p class="cita-experiencia mt-5 px-3" data-aos="fade-up" data-aos-delay="400">"Elegimos trabajar con el
            equipo de Capital Power
            por el profesionalismo
            mostrado al abordar
            nuestro requerimiento, su
            esfuerzo y empatía por
            “aterrizar” un tema árido
            y, principalmente, en
            advertir la objetividad e
            imparcialidad de velar por
            nuestros intereses como
            empresa en la solución
            desarrollada”
            </p>
            <p class="citado-experiencia mt-3" data-aos="fade-up">Jorge Vignolo<br>
              Productos Torre</p>
      </div>

    </div>

  </div>

</section>