<section class="section py-0">
  <div class="bg-otros-servicios" data-aos="fade-up" data-aos-delay="100">
  </div>
  <div class="row justify-content-center text-center" style="margin-top: -225px;">
    <div class="col-md-4 align-self-center pl-lg-4 mx-4 bg-light opacity-50">
      <div class="position-relative" data-aos="fade-up">
        <img src="../images/otros-servicios/goldenoak.png" class="img-fluid mt-5" alt="videoThumbBg">
      </div>
      <p class="p-5" data-aos="fade-down" data-aos-delay="100">GoldenOak es una empresa líder
        en el mercado de la generación
        solar distribuida, dedicada al
        diseño, financiamiento,
        construcción y operación de
        plantas solares de escala
        PMGD/Comercial y Residencial.</p>
    </div>
    <div class="col-md-4 align-self-center pl-lg-4 mx-4 bg-light opacity-50">
      <div class="position-relative" data-aos="fade-up">
        <img src="../images/otros-servicios/greenpower.png" class="img-fluid mt-5" alt="videoThumbBg">
      </div>
      <p class="p-5" data-aos="fade-down" data-aos-delay="100">Empresa de consultoría con vasta experiencia en el mercado eléctrico chileno.

        Abarca una amplia gama de actividades relacionadas con las necesidades tanto de clientes finales como de empresas generadoras.
        </p>
    </div>
  </div>

</section>