
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-3 px-5">
        
        <h2 class="section-title " data-aos="fade-up" data-aos-delay="200"><span class="font-weight-bold">CapitalPower</span> es el primer bróker de energía en Chile, creado con una <span class="font-weight-bold">visión clara</span></h2>
      
        <h4 class="subtitle mb-5" data-aos="fade-up">Gestionar para nuestros clientes las mejores condiciones de suministro eléctrico del mercado, sin complejidad y al menor costo.</h4>
      </div>

      <div class="col-lg-4 col-sm-6 mb-100" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member text-center">
          <img src="/images/feature/mauricio-diaz.jpg" class="img-fluid w-100 rounded-sm px-3" alt="Nombre">
          <div class="team-member-content p-4">
            <h5 class="team-member-name text-white">Mauricio Díaz</h5>
            <ul class="list-inline team-member-social">
              <li class="list-inline-item"><a href="https://cl.linkedin.com/in/mdiazs/es" target="_blank" class="p-2"><i class="fab fa-linkedin text-white fa-2x"></i></a></li>
            </ul>
        </div>
        </div>
        <div class="team-member mt-5 ml-3 mr-5">
          <p class="mt-3">Mauricio posee una exitosa trayectoria en el sector eléctrico, en empresas líderes como Endesa/Enel y AES Gener. Cuenta con más de 20 años de experiencia en comercialización de energía en Chile, además del desarrollo de proyectos y nuevos modelos de negocios en energía.</p>
        </div>
        <div class="team-member mt-4 text-right ml-5 mr-3">
          <h5>Ingeniero Civil Industrial</h5>
          <h5>MBA</h5>
          <h5>Pontificia Universidad Católica de Chile</h5>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6 mb-100" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member text-center">
          <img src="/images/feature/a-desmadryl.jpg" class="img-fluid w-100 rounded-sm px-3" alt="Nombre">
          <div class="team-member-content p-4">
            <h5 class="team-member-name text-white">Agustín Desmadryl</h5>
            <ul class="list-inline team-member-social">
              <li class="list-inline-item"><a href="https://cl.linkedin.com/in/agustindesmadryl" target="_blank" class="p-2"><i class="fab fa-linkedin text-white fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="team-member mt-5 ml-3 mr-5">
          <p class="mt-3">Agustín cuenta con reconocida experiencia en el sector eléctrico, liderando proyectos de generación solar y consultoría energética en la empresa GoldenOak. Adicionalmente, cuenta con experiencia en administración y consultoría estratégica, desarrollando proyectos para clientes de múltiples industrias en la consultora MatrixConsulting.</p>
        </div>
        <div class="team-member mt-4 text-right ml-5 mr-3">
          <h5>Ingeniero Comercial</h5>
          <h5>Diplomando en Regulación Eléctrica</h5>
          <h5>Pontificia Universidad Católica de Chile</h5>
        </div>
      </div>

      
      <div class="col-lg-4 col-sm-6 mb-100" data-aos="fade-up" data-aos-delay="600">
        <div class="team-member text-center">
          <img src="/images/feature/a-aguilar.jpg" class="img-fluid w-100 rounded-sm px-3" alt="Nombre">
          <div class="team-member-content p-4">
            <h5 class="team-member-name text-white">Atilio Aguilar</h5>
            <ul class="list-inline team-member-social">
              <li class="list-inline-item"><a href="https://cl.linkedin.com/in/atilio-aguilar-8b175139" target="_blank" class="p-2"><i class="fab fa-linkedin text-white fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="team-member mt-5 ml-3 mr-5">
          <p class="mt-3 atilio-height">Atilio cuenta con reconocida experiencia operaciones para el sector energía, liderando la construcción de 5 MW de generación solar netbilling a lo largo de Chile para la empresa GoldenOak. Adicionalmente, posee experiencia en estrategia liderado proyectos de planificación, reducción de costos y eficiencia en industrias como Minería, Servicios Sanitarios y Aerolíneas, para la consultora MatrixConsulting.</p>
        </div>
        <div class="team-member mt-4 text-right ml-5 mr-3">
          <h5>Ingeniero Comercial</h5>
          <h5>Pontificia Universidad Católica de Chile</h5>
        </div>
      </div>

    </div>
  </div>
</section>
